body {
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    background: #222222   
}
.bodytextfont{
    font-family: 'Mulish', sans-serif; 
}
.bodytextsize{
    font-size: 18px;
}
.background{
    background: #706E66;	
}
img {
    height: auto;
    width: 22% ;
}
.container1 {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #FBF9ED;
}
header::after{
    content:'';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
}
nav {
    float: right;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

nav li {
    display:inline-block;
    margin-left: 60px;
    padding-top: 50px;   
    
    position: relative;
}

nav a{
    color: #444; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
}
nav a:hover {
    color: #000; 
}

nav a::before {
    content:'';
    display:block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}


h2 {
    font-size: 22px ;
    margin-top:0;
    padding-top:3rem;
    margin-left:3rem;
    
}
h3 {
    font-size: 22px ;
}
h4 {
    font-size: 22px ;
}
.staff_images {
    width: 65%
}

.background-padding{
    padding-left: 45px;
    padding-right: 45px;
}



/* body {
    color: white;
    margin:0;
    background: #222222;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;

}


h1 {
    color: black;
    background-color:#f3eddc;
    font-size:  22px ;
    font-family: 'Noto Serif', serif;
}
h1::after{
    content:'';
    display: table;
    clear: both;
}
.h1 {
    float: left;
    padding: 10px 0;
}
nav {
    float: right;
    
}
nav ul {
    margin: 0;
    padding: 0;
    list-style:none;
    
}
nav li {
    display: inline-block;
    margin-left:70px ;
}
nav a {
    color: #444;
    text-decoration: none;
    text-transform: uppercase
}
nav a:hover {
    color:#000 */



