body {
    margin:0;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    background: #222222   
}
.bodytext{
    font-family: sans-serif;
}
.background{
    background: #706E66   
}
img {
    height: auto;
    width: 22% ;
}
.container1 {
    width: 80%;
    margin: 0 auto;
}

header {
    background: #FBF9ED;
}
header::after{
    content:'';
    display: table;
    clear: both;
}
.logo{
    float: left;
    padding: 10px 0;
    padding-bottom: 30px;
    padding-top: 25px;
}
nav {
    float: right;


}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
} 

nav li {
    display:inline-block;
    margin-left: 70px;
    padding-top: 45px;   
    
    position: relative;
}

nav a{
    color: #444; 
    text-decoration: none;
    text-transform: uppercase;
    font-size: 19px;
}
nav a:hover {
    color: #000; 
}

nav a::before {
    content:'';
    display:block;
    height: 5px;
    width: 100%;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before{
    width: 100%;
}
.food_background{
    width: 100%;
}
h1{
    text-align:center;
    color: white;
}
p{
    text-align:center;
    color: white;
}
.aboutmenu{
     margin: 2.25px 0;
}
.centered_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.flex_container{
    display:flex;
    justify-content: center;
    color: white;
    font-weight: 500;  
}
.flexitem{
    margin: 5rem 5rem;
    text-align: center; 
}









.footer{
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 45px 0;
    box-sizing: border-box;
    background-color:#FBF9ED;
}
.inner_footer{
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
}
.inner_footer .logo_container{
    width: 35%;
    float: left;
    height: 100%;
    display: block;
}
.inner_footer .logo_container img{
    width: 85%;
    margin-right: 5rem;
    height: auto;  
}
.inner_footer .footer_third{
    width: calc(21.6666666667% - 20px);
    margin-right: 10px;
    margin-left: 8rem;
    float: left;
    height: 100%;
}
.inner_footer .footer_third:last-child{
    margin-right: 0;
}
.inner_footer .footer_third h3{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 22px;
    color: black;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}
.inner_footer .footer_third a{
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 18px;
    color: black;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
}
.inner_footer .footer_third li{
    display: inline-block;
    padding: 0;
}