h1 {
    background-color: aqua ;
    font-size:  30px ;
}
p{
    font-size: 17px ; 
    font-family: gill sans; 
}
h2 {
    font-size: 22px ;
}
h3 {
    font-size: 22px ;
}
h4 {
    font-size: 22px ;
}
img {
    width: 15%
}
